p {
  margin: 0;
}
.work-order {
  background: #ffffff;
  box-shadow: 0px 0px 13px 1px rgba(66, 66, 66, 0.2);
  border-radius: 0px 21px 21px 21px;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
}
.work-order-icon {
  width: 1rem;
  height: 1rem;
  background: #fb9f45;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: 14px;
  color: #ffffff;
  line-height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.work-order-content {
  padding-left: 28px;
  margin-top: 14px;
  display: inline-block;
  width: 280px;
  box-sizing: border-box;
  padding-bottom: 14px;
}
.work-order-number {
  font-size: 12px;
  color: #1abc9c;
  font-weight: bold;
}
.work-order-title {
  font-size: 16px;
  font-weight: bold;
  color: #343434;
}
.work-order-button {
  background: #1ABC9C;
  color: white;
  width: 140px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 10px 0 0 0px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0px 0px 6px 0px rgba(65, 66, 66, 0.2);;
}
.buttons-tab {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.work-order-time-canvas {
  height: 60px;
  position: absolute;
  top: 28px;
  right: 20px;
  font-size: 12px;
}
.old-time {
  height: 14px;
  border-radius: 14px;
  width: 100%;
  background: rgba(26, 188, 156, 0.3);
  position: relative;
  z-index: 9;
}
.now-time {
  position: absolute;
  height: 14px;
  width: 10px;
  border-radius: 14px;
  z-index: 1;
  background:  rgba(26, 188, 156, 1);;
}
.work-order-time {
  font-size: 12px;
  font-weight: normal;
  color: #9a9a9a;
  line-height: 14px;
  margin-top: 8px;
}
.work-order-desc {
  font-size: 16px;
  font-weight: bold;
  color: #4c4c4c;
  margin-top: 12px;
}
.work-order-map {
  margin-top: 8px;
  font-size: 12px;
  font-weight: normal;
  color: #666666;
}
.work-order-operating {
    width: 60px;
    display: inline-block;
    vertical-align: top;
}
.work-order-status {
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background: #1ABC9C;
    color:#fff;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
}

.content-block{
    margin: 0.75rem 0
}
.buttons-tab .button.active span {
    border-bottom: 1px solid #1ABC9C;
    padding-bottom: 12px;
    color: #343434;
}
.buttons-tab .button.active {
    border: none;
    color: #343434;
}
.buttons-tab .button {
    font-size: 12px;
    color: rgba(52, 52, 52, 0.5);
}