<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="./page/rest.css" />
    <link rel="stylesheet" href=" ./css/sm.min.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <!-- page 容器 -->
    <div class="page" id="app">
      <!-- 标题栏 -->
      <header class="bar bar-nav theme-dark">
        <h1 class="title">工单</h1>
      </header>

      <!-- 工具栏 -->
      <nav class="bar bar-tab">
        <a class="tab-item external active" href="./index.html">
          <span class="icon icon-menu"></span>
          <span class="tab-label">工单</span>
        </a>
        <a class="tab-item external" href="./page/map/index.html">
          <span class="icon icon-star"></span>
          <span class="tab-label">地图</span>
        </a>
        <a class="tab-item external" href="./page/message/index.html">
          <span class="icon icon-message"></span>
          <span class="tab-label">消息</span>
          <span class="badge">4</span>
        </a>
        <a class="tab-item external" href="./page/mine/index.html">
          <span class="icon icon-me"></span>
          <span class="tab-label">我的</span>
        </a>
      </nav>

      <!-- 这里是页面内容区 -->
      <div class="content">
        <div class="buttons-tab">
          <a href="#tab1" class="tab-link active button" @click="fnClickSearchList(1)"><span>代办工单</span></a>
          <a href="#tab2" class="tab-link button" @click="fnClickSearchList(2)"><span>在办工单</span></a>
          <a href="#tab3" class="tab-link button" @click="fnClickSearchList(5)"><span>已办工单</span></a>
        </div>
        <div style="height: 2rem"></div>
        <div class="content-block">
          <div class="tabs">
            <div id="tab1" class="tab active">
              <div class="work-order" @click="fnClickJumpToDetail(item.id)" v-for="item in aList" :key="item.id">
                <span class="work-order-icon" :style="item.jobType === 3 ? 'background: #4589FB' : '' "
                  >{{ item.jobType === 1 ? '单' : item.jobType === 2 ? '多' : '中' }}</span
                >
                <div class="work-order-content" style="padding-bottom: 34px; margin-top: 24px; width: auto">
                  <p class="work-order-title">
                    <span class="work-order-number">NO.</span>
                    {{ item.id }}
                  </p>
                  <p class="work-order-time">{{ item.createTime }}</p>
                  <p class="work-order-desc">{{ item.faultName }}</p>
                  <p class="work-order-map">{{ item.address }}</p>
                </div>
                <div class="work-order-time-canvas" v-if="item.state === 1 || item.state === 2">
                  <div>距离到场剩余时间</div>
                  <div class="old-time" :style="item.isEnd ? 'background: RGBA(249, 98, 98, 0.3)': 'text-align: center;line-height:16px;font-size:12px'">
                    <div
                      class="now-time"
                      :style="item.isEnd ? 'background: RGBA(249, 98, 98, 1);color: white;font-size: 12px;width: 100%;text-align: center;line-height: 14px': ''"
                    >
                      {{item.isEnd ? '已超时' : '' }}
                    </div>
                    {{ item.isEnd ? '' : item.sCountdownShow }}
                  </div>
                </div>
                <div class="work-order-button">接单</div>
              </div>
            </div>
            <div id="tab2" class="tab">
              <div class="work-order" @click="fnClickJumpToDetail(item.id)" v-for="item in aList" :key="item.id">
                <span class="work-order-icon" :style="item.jobType === 3 ? 'background: #4589FB' : '' "
                  >{{ item.jobType === 1 ? '单' : item.jobType === 2 ? '多' : '中' }}</span
                >
                <div class="work-order-content" style="padding-bottom: 34px; margin-top: 24px; width: auto">
                  <p class="work-order-title">
                    <span class="work-order-number">NO.</span>
                    {{ item.id }}
                  </p>
                  <p class="work-order-time">{{ item.createTime }}</p>
                  <p class="work-order-desc">{{ item.faultName }}</p>
                  <p class="work-order-map">{{ item.address }}</p>
                </div>
                <div class="work-order-time-canvas" v-if="item.state === 1 || item.state === 2">
                  <div>距离到场剩余时间</div>
                  <div class="old-time" :style="item.isEnd ? 'background: RGBA(249, 98, 98, 0.3)': 'text-align: center;line-height:16px;font-size:12px'">
                    <div
                      class="now-time"
                      :style="item.isEnd ? 'background: RGBA(249, 98, 98, 1);color: white;font-size: 12px;width: 100%;text-align: center;line-height: 14px': ''"
                    >
                      {{item.isEnd ? '已超时' : '' }}
                    </div>
                    {{ item.isEnd ? '' : item.sCountdownShow }}
                  </div>
                </div>
                <div class="work-order-button" :style="item.state === 3 ? 'background: #7C7D7D' : '' ">
                  {{ item.state === 2 ? '到达现场' : item.state === 3 ? '抢修中': '已完成' }}
                </div>
              </div>
            </div>
            <div id="tab3" class="tab">
              <div class="work-order" @click="fnClickJumpToDetail(item.id)" v-for="item in aList" :key="item.id">
                <span class="work-order-icon" :style="item.jobType === 3 ? 'background: #4589FB' : '' "
                  >{{ item.jobType === 1 ? '单' : item.jobType === 2 ? '多' : '中' }}</span
                >
                <div class="work-order-content">
                  <p class="work-order-title">
                    <span class="work-order-number">NO.</span>
                    {{ item.id }}
                  </p>
                  <p class="work-order-time">{{ item.createTime }}</p>
                  <p class="work-order-desc">{{ item.faultName }}</p>
                  <p class="work-order-map">{{ item.address }}</p>
                </div>
                <div class="work-order-operating">
                  <div class="work-order-status">已完成</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="./cordova2.js" type="text/javascript" charset="utf-8"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./cordovaPublic.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src=" ./js/sm.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/countdown.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          account: '',
          sPassword: '',
          aList: [],
          sSelectTab: '',
          oInterval: [],
        };
      },
      methods: {
        fnClickJumpToDetail(id) {
          location.href = './page/details/index.html?id=' + id;
        },
        fnClickSearchList(data) {
          this.sSelectTab = data;
          var token = localStorage.getItem('sToken');
          var that = this;
          axios({
            method: 'post',
            url: 'http://121.42.233.49:7888/job/list',
            headers: { token: token },
            params: {
              current: 0,
              size: 10000,
              stateQ: data,
            },
          })
            .then(function (response) {
              const newList = response.data.data.records;
              newList.forEach((item) => {
                const newDate = new Date(item.createTime).getTime();
                const nowTime = new Date().getTime();
                if ((item.addressType === 1 ? 45 : item.addressType === 2 ? 90 : 120) - (nowTime - newDate) / 1000 / 60 < 0) {
                  item.isEnd = true;
                } else {
                  let oCountDown = window.myCountdown(
                    new Date().getTime(),
                    newDate + (item.addressType === 1 ? 45 : item.addressType === 2 ? 90 : 120) * 60 * 1000
                  );
                  let hours = oCountDown.hours;
                  let minutes = (oCountDown.minutes > 9 ? '' : '0') + oCountDown.minutes;
                  let seconds = (oCountDown.seconds > 9 ? '' : '0') + oCountDown.seconds;
                  item.hours = hours;
                  item.minutes = minutes;
                  item.seconds = seconds;
                  item.sCountdownShow = `${hours}:${minutes}:${seconds}`;
                }
              });
              that.aList = newList;
              that.fnBsnCutDown();
            })
            .catch(function (error) {
              // location.href = './page/login/index.html';
            });
        },
        fnBsnCutDown() {
          this.aList.forEach((item) => {
            if(item.isEnd) return
            this.oInterval[item.id] = setInterval(() => {
              const newDate = new Date(item.createTime).getTime();
              const nowTime = new Date().getTime();
              if ((item.addressType === 1 ? 45 : item.addressType === 2 ? 90 : 120) - (nowTime - newDate) / 1000 / 60 < 0) {
                item.isEnd = true;
                return
              }
              let oCountDown = window.myCountdown(
                new Date().getTime(),
                newDate + (item.addressType === 1 ? 45 : item.addressType === 2 ? 90 : 120) * 60 * 1000
              );
              let hours = oCountDown.hours;
              let minutes = (oCountDown.minutes > 9 ? '' : '0') + oCountDown.minutes;
              let seconds = (oCountDown.seconds > 9 ? '' : '0') + oCountDown.seconds;
              item.hours = hours;
              item.minutes = minutes;
              item.seconds = seconds;
              item.sCountdownShow = `${hours}:${minutes}:${seconds}`;
            }, 1000);
          });
        },
      },
      mounted() {
        var token = localStorage.getItem('sToken');
        if (!token) {
          location.href = './page/login/index.html';
        }
        this.fnClickSearchList(1);
      },
    });
  </script>
</html>
