<!-- 工具栏 -->
<nav class="bar bar-tab">
    <a class="tab-item external active" href="./index.html">
        <span class="icon icon-menu"></span>
        <span class="tab-label">工单</span>
    </a>
    <a class="tab-item external" href="./page/map/index.html">
        <span class="icon icon-star"></span>
        <span class="tab-label">地图</span>
    </a>
    <a class="tab-item external" href="./page/message/index.html">
        <span class="icon icon-message"></span>
        <span class="tab-label">消息</span>
    </a>
    <a class="tab-item external" href="./page/mine/index.html">
        <span class="icon icon-me"></span>ß
        <span class="tab-label">我的</span>
    </a>
</nav>